.outerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lowerDiv {
  display: flex;
  margin-top: 40px;
}

.imgWidth {
  width: 30px;
}

.iconWrapper {
  margin-right: 20px;
}
