.card {
  display: flex;
  flex-direction: column;
  padding: var(--space-md);
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(20, 25, 78, 0.12);
  border-radius: 12px;
  transition: all 0.2s ease;
}
