.cardStyle {
  padding: 20px;
  margin: 30px;
}

.name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.rank {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.ratingWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}
