.logoWidth {
  width: 150px;
}

.logoWrapper {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonText {
  font-size: 14px;
  font-weight: bold;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDiv {
  margin-top: 5px;
  margin-right: 20px;
}

.headerContainer {
  display: flex;
  background-color: yellow;
  margin-bottom: 30px;
}

.heading {
  margin: 30px;
  font-size: 26px;
  font-weight: 1000;
  text-align: left;
}
