.nameWrapper {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.tagsSection {
  display: flex;
  flex-direction: row;
}

.problemOuterDiv {
  margin-bottom: 20px;
}

.singleProblem {
  margin-bottom: 20px;
}

.standingText {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.singleStanding {
  display: flex;
  margin-bottom: 10px;
}
