.CodeforcesIntro {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 30px;
}

.codeforcesDesc {
  font-size: 16px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
}
