.heading {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.cardStyle {
  padding: 20px;
  margin: 30px;
  width: 300px;
}

.sectionWrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.iconWidth {
  width: 30px;
}

.iconWrapper {
  margin-right: 10px;
}
